{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Estudiantes</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'assets/css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--<a class="navbar-brand" href="#">Gestion Estudiantes</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
              <ul class="nav navbar-nav navbar-right">
              {% if not user.is_authenticated %}                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inciar Sesion <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="btn btn-block btn-social btn-twitter"
                        href="{% url 'social:begin' 'twitter'%}">
                        <span class="fa fa-twitter"></span> Iniciar sesion con Twitter
                        </a>
                    </li> 
                    <li>
                        <a class="btn btn-block btn-social btn-foursquare"
                        href="{% url 'social:begin' 'facebook'%}">
                        <span class="fa fa-facebook"></span> Iniciar sesion con Facebook
                        </a>
                    </li>                   
                  </ul>
                </li>               
               {%else%}
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{ user }}</strong> <span class="caret"></span></a>
                      <ul class="dropdown-menu">                         
                        <li>
                            <a href="/salir/" 
                               class="btn btn-danger btn-block">Cerrar Sesion
                            </a>
                        </li>
                      </ul>
                    </li>
                {% endif %}

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="principal.html"><img src="{% static 'assets/img/ges.jpg' %}" class="img-thumbnail" />
</a>
            </div>

            <div class="header-right">            
            SISTEMA DE GESTION <br><br>
            DE ESTUDIANTES

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>Listado Estudiantes</a>
                    </li>
                     
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>Gestion Estudiantes <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'sistemaestudiantes.views.add' %}"><i class="fa fa-toggle-on"></i>Agregar Estudiante</a>
                            </li>
                        </ul>

                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>Academico <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'sistemaestudiantes.views.addform' 1 %}"><i class="fa fa-toggle-on"></i>Formulario de inscripcion</a>
                            </li>
                            <li>
                                <a href= "{% url 'sistemaestudiantes.views.addnota' 1 %}"><i class="fa fa-toggle-on"></i>Registrar Notas</a>
                            </li>
                             <li>
                                <a href="{% url 'sistemaestudiantes.views.addpractica' 1 %} "><i class="fa fa-toggle-on"></i>Registrar Practica</a>
                            </li>
                        </ul>

                    </li>

                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                             
                    </div>
                </div>
                <!-- /. ROW  -->
               
                <div id="articulos">                    
                    <br>
                    {% block contenido %} {% endblock %}  

                </div>
            </div>
            <!--/.Row-->
            <hr />
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

   
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    


</body>
</html>
